<!DOCTYPE html>
<html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>My schoolhk</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../css/bootstrap.css"></link>

<link rel="stylesheet" href="../css/colors/main.css" id="colors"></link>
<link rel="stylesheet" href="../css/style.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="../css/style1.css"></link> -->
<link rel="stylesheet" type="text/css" href="../css/ui-grid.css"></link>
<!-- jQuery library -->
<script  type="text/javascript" src="../scripts/updated/jquery.min.js"></script>
    <script src="../scripts/updated/csv.js"></script>
    <script src="../scripts/updated/pdfmake.js"></script>
    <script src="../scripts/updated/vfs_fonts.js"></script>
    <script src="../scripts/updated/lodash.min.js"></script>
    <script src="../scripts/updated/jszip.min.js"></script>
    <script src="../scripts/updated/excel-builder.dist.js"></script>
    
<script src="../scripts/updated/bootstrap.min.js"></script>

<!-- Latest compiled JavaScript -->
<link rel="stylesheet" type="text/css" href="../css/ui-grid1.css"></link> 

<!-- Scripts
================================================== -->

<style>
td, th {
    text-align: center;
}
#navigation.style-1 {
    padding:0;
    margin-left: 115px;       
     background-color: #66b2ff;
    float: right;
    margin-right: 75px;
}
header.fullwidth .container {
    width: 100%;  
    padding: 0px 60px;
}
.active{
    background: #1a8cff;   
     }
     #navigation.style-1 ul li {
    margin: 0px;
}
.fs-inner-container.map-fixed {
    height: 400px;
     position: relative; 
    top: 0;
    padding-top: 0px !important;
}
.fs-inner-container {
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
.fs-inner-container.content {
    width: 100%;
    background-color: #f7f7f7;
    z-index: 995;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12);
    position: relative;
    padding-top: 0px;
}

@media (max-width:991px){
.fs-inner-container.map-fixed {
    margin-bottom: 65px;
    height: 400px;
    position: relative;
    top: 0;
    padding-top: 0px !important;
}
}
</style>
</head>


<body>
<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fixed fullwidth" style="background-color:#66b2ff">

	<!-- Header -->
	<div id="header" class="not-sticky">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="home"><img src="../images/logo .svg" style="width: 60px;height: 60px;" alt=""></img>
					<img src="../images/header.png"  alt=""></img></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="menu-responsive">
					<i class="fa fa-reorder menu-trigger"></i>
				</div>
</div>
				<!-- Main Navigation -->
					<div class="clearfix"></div>
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li class="active"><a href="/kindergarten-list">幼稚園</a>
							
						</li>

						<li><a href="/primary-list">小學</a>
							
						</li>

						<li><a href="/secondary-list">中學</a>
							
						</li>
						<li><a href="/map">地圖 </a></li>
						
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
	

		</div>
	
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Content
================================================== -->
<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<!-- Search -->
		<!-- Search -->
			  <section class="search">
                     <div class="row">
                        <div >
                           <h1 class="page-heading" style="color:#66b2ff" th:text="${kGEntity.district}"></h1>
                        </div>
                        <div style="margin-bottom: 20px;">
                           <img src="../images/add1.jpg" alt="add1" class="img-responsive" style="margin: 0 auto;"></img>
                        </div>
                        <div class="col-md-7">
                           <div class="descrp">
                              <h2 style="color: #428bca;" th:text="${kGEntity.schoolName}"></h2>
                              <h3 class="h3class" style="color: #428bca;" th:text="${kGEntity.schoolName}"></h3>
                              <p th:text="${kGEntity.schoolDiscription}">
                              </p>
                           </div>
                        </div>
                        <div class="col-md-5 image-school" th:if = "${kGEntity.imageTop !=null}">
                           <img th:with="url=${kGEntity.imageTop}" th:src="${url}" alt="图像不可用" class="img-responsive"></img>
                           <p style="text-align: center;font-size: 14px;" th:text="${kGEntity.schoolName}"></p>
                        </div> 
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>學校類別</h3><!-- School category -->
                        </div>
                        <div class="pvsch"> 
                           <h2 th:text="${kGEntity.schoolCategouryTitle}"></h2>
                        </div> 
                        <p class="pvschp" th:text="${kGEntity.schoolCategory}"></p>
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>學校歷史</h3><!--  School history -->
                        </div>
                        <div class="pvsch">
                           <h2 th:text="${kGEntity.schoolHistoryTitle}"></h2>
                        </div>
                        <p class="pvschp" th:text="${kGEntity.schoolHistory}"> </p>
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>學校設施</h3> <!-- School facilities -->
                        </div>
                        <div class="pvsch" >
                           <h2 th:text="${kGEntity.schoolFacilitiesTitle}"></h2>
                        </div>
                        <p class="pvschp" th:text="${kGEntity.schoolFacilities}"></p>
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>教學情況</h3><!--  Teaching situation -->
                        </div>
                        <div class="pvsch">
                           <h2 th:text="${kGEntity.teachingSituationTitle}"></h2>
                        </div>
                        <p class="pvschp"  th:text="${kGEntity.teachingSituation}"></p>
                     </div>
                     <div class="row" style="padding:0 15px;">
                        <div class="infotable">
                           <table class="table table-bordered">
                              <thead style="background-color: #66b2ff;color: white;">
                                 <tr>
                                    <th></th>
                                    <th>幼兒 3-4 歲</th><!-- Nursery  -->
                                    <th>低班 4-5 歲</th><!-- Lower -->
                                    <th>高班 5-6 歲</th><!--Upper  -->
                                    <th>總數</th><!-- Total -->
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <th scope="row">上午班</th><!-- AM Session -->
                                    <td th:text="${kGEntity.nurseryAMSession}"></td> 
                                    <td th:text="${kGEntity.lowerKGAMSession}"></td>
                                    <td th:text="${kGEntity.upperKGAMSession}"></td>
                                    <td th:text="${kGEntity.totalAMSession}"></td>
                                 </tr>
                                 <tr>
                                    <th scope="row">下午班</th><!-- PM Session -->
                                   	<td th:text="${kGEntity.nurseryPMSession}"></td> 
                                    <td th:text="${kGEntity.lowerKGPMSession}"></td>
                                    <td th:text="${kGEntity.upperKGPMSession}"></td>
                                    <td th:text="${kGEntity.totalPMSession}"></td>
                                 </tr>
                                 <tr>
                                   <th scope="row">全日班</th><!-- WD Session -->
                                    <td th:text="${kGEntity.nurseryWDSession}"></td> 
                                    <td th:text="${kGEntity.lowerKGWDSession}"></td>
                                    <td th:text="${kGEntity.upperKGWDSession}"></td>
                                    <td th:text="${kGEntity.totalWDSession}"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>學校收費</h3><!--School fees  -->
                        </div>
                        <div class="pvsch">
                           <h2 th:text="${kGEntity.schoolFeesTitle}"></h2>
                        </div>
                        <p class="pvschp" th:text="${kGEntity.schoolFees}"></p>
                     </div>
                     <div class="row" style="padding:0 15px;">
                        <div class="infotable">
                           <table class="table table-bordered">
                              <thead style="background-color: #66b2ff;color: white;">
                                 <tr>
                                    <th></th>
                                    <th>幼兒 3-4 歲</th><!-- Nursery  -->
                                    <th>低班 4-5 歲</th><!-- Lower -->
                                    <th>高班 5-6 歲</th><!--Upper  -->
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <th scope="row">上午班</th><!-- AM Session -->
                                    <td th:text="${kGEntity.nurseryAMSessionfees}"></td>
                                    <td th:text="${kGEntity.lowerKGAMSessionfees}"></td>
                                    <td th:text="${kGEntity.upperKGAMSessionfees}"></td>
                                 </tr>
                                 <tr>
                                    <th scope="row">下午班</th><!-- PM Session -->
                                     <td th:text="${kGEntity.nurseryPMSessionfees}"></td>
                                    <td th:text="${kGEntity.lowerKGPMSessionfees}"></td>
                                    <td th:text="${kGEntity.upperKGPMSessionfees}"></td>
                                 </tr>
                                 <tr>
                                    <th scope="row">全日班</th><!-- WD Session -->
                                     <td th:text="${kGEntity.nurseryWDSessionfees}"></td>
                                    <td th:text="${kGEntity.lowerKGWDSessionfees}"></td>
                                    <td th:text="${kGEntity.upperKGWDSessionfees}"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-7">
                           <div class="descrp">
                               <h2 style="color:#428bca">聯絡資料</h2><!-- Contact information -->
                              <h3 class="h3class" style="font-size:18px;" th:text="${kGEntity.schoolName}"></h3>
                              <h3 class="h3class" style="font-size:18px; margin-top: -2px;" th:text="${kGEntity.district}"></h3>
                              <div class="addInfo">
                                 <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                       <tr>
                                            <th>地址 :</th><!-- Address --> 
                                          <td th:text="${kGEntity.address}"></td>
                                       </tr>
                                       <tr th:if="${kGEntity.lattitude != null}">
                                          <th>地圖:</th><!-- Map -->
                                          <td><a th:href="${'http://maps.google.com/maps?q=loc:' + kGEntity.lattitude + '+' + kGEntity.longitude}" target="_black">點擊加載學校地圖</a> </td>
                                       </tr>
                                       <tr>
                                          <th>聯繫電話: </th><!-- Tel -->
                                          <td th:text="${kGEntity.tel}"></td>
                                       </tr>
                                       <tr>
                                          <th>傳真:</th><!-- Fax -->
                                          <td th:text="${kGEntity.fax}"></td>
                                       </tr>
                                       <tr>
                                          <th>網址: </th><!-- Website -->
                                          <td><a th:href="${kGEntity.schoolWebsite}" target="_blank" th:text="${kGEntity.schoolWebsite}"></a>
                                          </td>
                                       </tr>
                                       <tr>
                                          <th>校監: </th> <!-- Supervisor -->
                                          <td th:text="${kGEntity.nameofSchoolSupervisor}"></td>
                                       </tr>
                                       <tr>
                                          <th>校長:</th><!-- Principal -->
                                          <td th:text="${kGEntity.nameofSchoolPrincipal}"></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-5 image-school" style="padding: 87px 21px;" th:if ="${kGEntity.image !=null}">
                           <img th:with="url=${kGEntity.image}" th:src="${url}" alt="图像不可用" class="img-responsive"></img>
                           <p style="text-align: center;font-size: 14px;" th:text="${kGEntity.schoolName}"></p>
                        </div>
                     </div>
                  </section>
			<!-- Search / End -->
		</div>
	</div>
	<div class="fs-inner-container map-fixed" style="padding-top:0px !important;">
	
		<!-- Map -->
		<div class="clearfix"></div>
		<div id="map-container" th:if="${kGEntity.lattitude != null}">
		    <div id="map" data-map-zoom="9" data-map-scroll="true">
		        <!-- map goes here -->
		    </div>
		</div>

	</div>
	
	
	</div>
</div>
<div>
       <div class="col-md-12" style="margin-top:70px">	 
          <div>	   
	     <a href="#"><img src="../images/add1.jpg" class="img-responsive" alt="" style="margin: 0 auto;"></img></a>
		 </div>
	   </div>
	   
<!-- 	    <div class="addbanner2">		
	    <a href="#"><img src="../images/addimg2.jpg" class="img-responsive" alt=""></img></a>   
	   
	   </div> -->
	   </div>
<section class="listings-container margin-top-30">

			<!-- Pagination Container -->
			<div class="row fs-listings">
				<div class="col-md-12">

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<!-- Pagination / End -->
					
					<!-- Copyrights -->
					<div class="copyrights margin-top-0">©2017 Myschool_Hk。版權所有</div>

				</div>
			</div>
			<!-- Pagination Container / End -->
		</section>

<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script type="text/javascript" src="../scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="../scripts/chosen.min.js"></script>
<script type="text/javascript" src="../scripts/slick.min.js"></script>
<script type="text/javascript" src="../scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="../scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="../scripts/waypoints.min.js"></script>
<script type="text/javascript" src="../scripts/counterup.min.js"></script>
<script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="../scripts/tooltips.min.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>

<!-- Maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD1RCTgKr9a9wx_0OWasJB5nbbk1ONgwjg&amp;sensor=false&amp;language=en"></script>
<script type="text/javascript" src="../scripts/infobox.min.js"></script>
<script type="text/javascript" src="../scripts/markerclusterer.js"></script>
<script type="text/javascript" src="../scripts/maps.js"></script>
<script th:inline="javascript">
  //<![CDATA[
    var kGEntity = /*[[${kGEntity}]]*/'kGEntity';
    //]]>
    //<![CDATA[
    var pSEntity = "";
    //]]>
    //<![CDATA[
    var sSEntity = "";
    //]]>
</script>

<!-- Back To Top Button -->
<a href="#" class="scrollToTop"><img src="../images/gototop.png" style="width:40px"></img></a>
<script>
$(document).ready(function(){
	
	//Check to see if the window is top if not then display button
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('.scrollToTop').fadeIn();
		} else {
			$('.scrollToTop').fadeOut();
		}
	});
	
	//Click event to scroll to top
	$('.scrollToTop').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
	
})
</script>

</body>
</html>



