<!DOCTYPE html>
<html ng-app="app">
<head>

<!-- Basic Page Needs
================================================== -->
<title>My schoolhk</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../css/bootstrap.css"></link>

<link rel="stylesheet" href="../css/colors/main.css" id="colors"></link>
<link rel="stylesheet" href="../css/style.css"></link>
<!-- <link rel="stylesheet" type="text/css" href="../css/style1.css"></link> -->
<link rel="stylesheet" href="../css/ng-grid.css"></link>
<link rel="stylesheet" type="text/css" href="../css/ui-grid.css"></link>
<!-- jQuery library -->
<script  type="text/javascript" src="../scripts/updated/jquery.min.js"></script>
<script src="../scripts/updated/angular.js"></script>
    <script src="../scripts/updated/angular-touch.js"></script>
    <script src="../scripts/updated/angular-animate.js"></script>
    <script src="../scripts/updated/csv.js"></script>
    <script src="../scripts/updated/pdfmake.js"></script>
    <script src="../scripts/updated/vfs_fonts.js"></script>
    <script src="../scripts/updated/lodash.min.js"></script>
    <script src="../scripts/updated/jszip.min.js"></script>
    <script src="../scripts/updated/excel-builder.dist.js"></script>
    

    <script src="../scripts/updated/ui-grid.js"></script>
    
    
<script data-require="ng-grid@*" data-semver="2.0.9" src="../scripts/updated/ng-grid2.0.js"></script> 
<script src="../scripts/updated/bootstrap.min.js"></script>
 <script type="text/javascript" src="../js/main.js"></script>


<!-- Latest compiled JavaScript -->
 <script data-require="angular.js@1.2.x" src="../scripts/updated/angular1.js" data-semver="1.2.21"></script>
<script data-require="ng-grid@*" data-semver="2.0.9" src="../scripts/updated/ng-grid2.0.js"></script>
<link rel="stylesheet" type="text/css" href="../css/ui-grid1.css"></link> 
 <script type="text/javascript" src="../js/main.js"></script>


<!-- Scripts
================================================== -->

<style>
#navigation.style-1 {
    padding:0;
    margin-left: 115px;       
     background-color: #66b2ff;
    float: right;
    margin-right: 75px;
}
header.fullwidth .container {
    width: 100%;  
    padding: 0px 60px;
}
.active{
    background: #1a8cff;   
     }
     #navigation.style-1 ul li {
    margin: 0px;
}
.fs-inner-container.map-fixed {
    height: 400px;
     position: relative; 
    top: 0;
    padding-top: 0px !important;
}
.fs-inner-container {
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
.fs-inner-container.content {
    width: 100%;
    background-color: #f7f7f7;
    z-index: 995;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12);
    position: relative;
    padding-top: 0px;
}
@media (max-width:991px){
.fs-inner-container.map-fixed {
    margin-bottom: 65px;
    height: 400px;
    position: relative;
    top: 0;
    padding-top: 0px !important;
}
}

</style>
</head>


<body ng-controller="secondaryController">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fixed fullwidth" style="background-color:#14a661">

	<!-- Header -->
	<div id="header" class="not-sticky">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="home"><img src="../images/logo .svg" style="width: 60px;height: 60px;" alt=""></img>
					<img src="../images/header.png"  alt=""></img></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="menu-responsive">
					<i class="fa fa-reorder menu-trigger"></i>
				</div>
</div>
				<!-- Main Navigation -->
					<div class="clearfix"></div>
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a href="/kindergarten-list">幼稚園</a>
							
						</li>

						<li><a href="/primary-list">小學</a>
							
						</li>

						<li class="active"><a href="/secondary-list">中學</a>
							
						</li>
					
						
				
					
						
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
	

		</div>
	
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Content
================================================== -->
<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<!-- Search -->
		<!-- Search -->
			  <section class="search">
                     <div class="row">
                        <div >
                           <h1 class="page-heading" style="color:#66b2ff" th:text="${sSEntity.district}"></h1>
                        </div>
                        <div style="margin-bottom: 20px;">
                           <img src="../images/add1.jpg" alt="add1" class="img-responsive" style="margin: 0 auto;"></img>
                        </div>
                        <div class="col-md-7">
                           <div class="descrp">
                              <h2 style="color: #428bca;" th:text="${sSEntity.schoolName}"></h2>
                              <h3 class="h3class" style="color: #428bca;" th:text="${sSEntity.schoolName}"></h3>
                              <p class="pvsch" th:text="${sSEntity.schoolDiscritpion}">
                              </p>
                           </div>
                        </div>
                        <div class="col-md-5 image-school">
                           <img th:with="url=${sSEntity.imageTop !=null?sSEntity.imageTop:'/images/top.png'}" th:src="${url}" alt="图像不可用" class="img-responsive"></img>
                           <p style="text-align: center;font-size: 14px;" th:text="${sSEntity.schoolName}"></p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="item-title">
                          <h3>學校類別</h3><!-- School category -->
                        </div>
                        <div class="pvsch">
                           <h2 th:text="${sSEntity.schoolCategory}"></h2>
                        </div>
                        <p  class="pvsch" th:text="${sSEntity.schoolCategouryTitle}">
                        </p>
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>學校歷史</h3><!--  School history -->
                        </div>
                        <div class="pvsch">
                           <h2 th:text="${sSEntity.schoolHistoryTitle}"></h2>
                        </div>
                        <p class="pvsch" th:text="${sSEntity.schoolHistory}">
                        </p>
                     </div>
                     <div class="row">
                        <div class="item-title">
                            <h3>學校設施</h3> <!-- School facilities -->
                        </div>
                        <div class="pvsch">
                           <h2></h2>
                        </div>
                        <p class="pvsch" th:text="${sSEntity.SchoolFacilities}">
                        </p>
                     </div>
                     <div class="row">
                        <div class="item-title">
                           <h3>教學情況</h3><!--  Teaching situation -->
                        </div>
                        <div class="pvsch">
                           <h2 th:text="${sSEntity.teachingSituationTitle}"></h2>
                        </div>
                        <p class="pvsch" th:text="${sSEntity.teachingSituation}"></p>
                     </div>
                     <div class="row" style="padding:0 15px;">
                        <div class="infotable">
                           <table class="table table-bordered">
                              <thead style="background-color: #66b2ff;color: white;">
                                 <tr>
                                    <th rowspan="2" style="position: relative;top: -30px;">学年</th><!-- School year -->
                                    <th colspan="2">教师人数</th> <!-- Number of teaching staff -->
                                    <th colspan="7">班级结构</th> <!-- Class structure -->
                                 </tr>
                                  <tr>
                                    <th>学校教师</th><!-- School teachers -->
                                    <th>审批准备</th><!-- Approval preparation  -->
                                    <th>总</th><!-- total -->
                                    <th>一</th><!-- One -->
                                    <th>成两半</th><!-- In TWo -->
                                    <th>三</th><!-- Three -->
                                     <th>在四</th><!-- In Four -->
                                    <th>在五</th><!-- In Five -->
                                     <th>中六</th><!-- Middle Six -->
                                 </tr>
                              </thead>
                              <tbody>
                              	<tr>
                                   <th scope="row">2013</th>
                                    <td th:text="${sSEntity.schoolTeachers2013}"></td>
                                    <td th:text="${sSEntity.approvalPreparation2013}"></td>
                                    <td th:text="${sSEntity.total2013}"></td>
                                    <td th:text="${sSEntity.smallOne2013}"></td>
                                    <td th:text="${sSEntity.smallTwo2013}"></td>
                                    <td th:text="${sSEntity.smallThree2013}"></td>
                                    <td th:text="${sSEntity.smallFour2013}"></td>
                                    <td th:text="${sSEntity.smallFive2013}"></td>
                                    <td th:text="${sSEntity.littleSix2013}"></td>
                                 </tr>
                                 <tr>
                                   <th scope="row">2014</th>
                                    <td th:text="${sSEntity.schoolTeachers2014}"></td>
                                    <td th:text="${sSEntity.approvalPreparation2014}"></td>
                                    <td th:text="${sSEntity.total2014}"></td>
                                    <td th:text="${sSEntity.smallOne2014}"></td>
                                    <td th:text="${sSEntity.smallTwo2014}"></td>
                                    <td th:text="${sSEntity.smallThree2014}"></td>
                                    <td th:text="${sSEntity.smallFour2014}"></td>
                                    <td th:text="${sSEntity.smallfive2014}"></td>
                                    <td th:text="${sSEntity.littlesix2014}"></td>
                                 </tr>
                                 <tr>
                                   <th scope="row">2015</th>
                                    <td th:text="${sSEntity.schoolTeachers2015}"></td>
                                    <td th:text="${sSEntity.approvalPreparation2015}"></td>
                                    <td th:text="${sSEntity.total2015}"></td>
                                    <td th:text="${sSEntity.smallOne2015}"></td>
                                    <td th:text="${sSEntity.smallTwo2015}"></td>
                                    <td th:text="${sSEntity.smallThree2015}"></td>
                                    <td th:text="${sSEntity.smallFour2015}"></td>
                                    <td th:text="${sSEntity.smallfive2015}"></td>
                                    <td th:text="${sSEntity.littlesix2015}"></td>
                                 </tr>
                                 <tr>
                                   <th scope="row">2016</th>
                                    <td th:text="${sSEntity.schoolTeachers2016}"></td>
                                    <td th:text="${sSEntity.approvalPreparation2016}"></td>
                                    <td th:text="${sSEntity.total2016}"></td>
                                    <td th:text="${sSEntity.smallOne2016}"></td>
                                    <td th:text="${sSEntity.smallTwo2016}"></td>
                                    <td th:text="${sSEntity.smallThree2016}"></td>
                                    <td th:text="${sSEntity.smallFour2016}"></td>
                                    <td th:text="${sSEntity.smallfive2016}"></td>
                                    <td th:text="${sSEntity.littlesix2016}"></td>
                                 </tr>
                                 <tr>
                                  <th scope="row">2017</th>
                                    <td th:text="${sSEntity.schoolTeachers2017}"></td>
                                    <td th:text="${sSEntity.approvalPreparation2017}"></td>
                                    <td th:text="${sSEntity.total2017}"></td>
                                    <td th:text="${sSEntity.smallOne2017}"></td>
                                    <td th:text="${sSEntity.smallTwo2017}"></td>
                                    <td th:text="${sSEntity.smallThree2017}"></td>
                                    <td th:text="${sSEntity.smallFour2017}"></td>
                                    <td th:text="${sSEntity.smallfive2017}"></td>
                                    <td th:text="${sSEntity.littlesix2017}"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="item-title">
                            <h3>學費</h3><!--School fees  -->
                        </div>
                        <div class="pvsch">
                           <h2></h2>
                        </div>
                        <p class="pvschp">
                        </p>
                     </div>
                    <!--  <div class="row" style="padding:0 15px;">
                        <div class="infotable">
                           <table class="table table-bordered">
                              <thead style="background-color: #66b2ff;color: white;">
                                 <tr>
                                    <th>在一定程度上</th>In a degree
                                    <th>配股</th>Allotment 
                                    <th>学生的重新认证</th>Requalification of students
                                    <th>统一装甲</th> Uniformarmor
                                    <th>制服B</th> Uniform B
                                    <th>B区域</th>B area 
                                    <th>不保留</th>Not reserved
                                    <th>直接链接</th>Directly linked 
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td rowspan="3">128</td>
                                    <td rowspan="3">38</td>
                                    <td rowspan="3">8</td>
                                    <td rowspan="3">8</td>
                                    <td rowspan="3">74</td>
                                    <td>Yau Tsim Mong District</td>
                                    <td>67</td>
                                    <td>0</td>
                                 </tr>
                                 <tr>
                                 	<td>Kowloon City District</td>
                                    <td>5</td>
                                    <td>0</td>
                                 </tr>
                                 <tr>
                                 	<td>Sham Shui Po District</td>
                                    <td>2</td>
                                    <td>0</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div> -->
                     <div class="row">
                        <div class="col-md-7">
                           <div class="descrp">
                              <h2 style="color:#428bca">聯繫信息</h2><!-- Contact information -->
                              <h3 class="h3class" style="font-size:18px;" th:text="${sSEntity.schoolName}"></h3>
                              <h3 class="h3class" style="font-size:18px; margin-top: -2px;" th:text="${sSEntity.district}"></h3>
                              <div class="addInfo">
                                 <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                       <tr>
                                           <th>地址 :</th><!-- Address -->
                                           <td th:text="${sSEntity.address}"></td>
                                       </tr>
                                       <tr>
                                           <th>地圖 :</th><!-- Map -->
                                          <td><a href="#">點擊加載學校地圖</a> </td>
                                       </tr>
                                       <tr>
                                          <th>电话 :</th><!-- Phone -->
                                           <td th:text="${sSEntity.tel}"></td>
                                       </tr>
                                       <tr>
                                            <th>傳真:</th><!-- Fax -->
                                          <td th:text="${sSEntity.fax}"></td>
                                       </tr>
                                        <tr>
                                          <th>电子邮件 :</th> <!-- Email -->
                                          <td th:text="${sSEntity.schoolEmail}"></td>
                                       </tr>
                                       <tr>
                                          <th>網址: </th><!-- Website -->
                                          <td><a th:href="${sSEntity.schoolWebsite}" target="_blank" th:text="${sSEntity.schoolWebsite}"></a></td>
                                       </tr>
                                       <tr>
                                          <th>校長:</th><!-- Principal -->
                                            <td th:text="${sSEntity.Principal}"></td>
                                       </tr>
                                       <tr>
                                          <th>清监督 : </th> <!-- ching Supervisor  -->
                                           <td th:text="${sSEntity.Supervisor_ChairmanofSchoolManagementCommittee}"></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-5 image-school" style="padding: 87px 21px;">
                           <img th:with="url=${sSEntity.image !=null?sSEntity.image:'/images/bottom.png'}" th:src="${url}" alt="图像不可用" class="img-responsive"></img>
                            
                           <p style="text-align: center;font-size: 14px;" th:text="${sSEntity.schoolName}"></p>
                        </div>
                     </div>
                  </section>
			<!-- Search / End -->
		</div>
	</div>
	<div class="fs-inner-container map-fixed" style="padding-top:0px !important;">
	
		<!-- Map -->
		<div class="clearfix"></div>
		<div id="map-container">
		    <div id="map" data-map-zoom="9" data-map-scroll="true">
		        <!-- map goes here -->
		    </div>
		</div>

	</div>
	
	
	</div>
</div>
<div>
       <div class="col-md-12" style="margin-top:70px">	 
          <div>	   
	     <a href="#"><img src="../images/add1.jpg" class="img-responsive" alt="" style="margin: 0 auto;"></img></a>
		 </div>
	   </div>
	   
<!-- 	    <div class="addbanner2">		
	    <a href="#"><img src="../images/addimg2.jpg" class="img-responsive" alt=""></img></a>   
	   
	   </div> -->
	   </div>
<section class="listings-container margin-top-30">

			<!-- Pagination Container -->
			<div class="row fs-listings">
				<div class="col-md-12">

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<!-- Pagination / End -->
					
					<!-- Copyrights -->
					<div class="copyrights margin-top-0">©2017 Myschool_Hk。版權所有</div>

				</div>
			</div>
			<!-- Pagination Container / End -->
		</section>

<!-- Wrapper / End -->
<!-- Scripts
================================================== -->
<script type="text/javascript" src="../scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="../scripts/chosen.min.js"></script>
<script type="text/javascript" src="../scripts/slick.min.js"></script>
<script type="text/javascript" src="../scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="../scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="../scripts/waypoints.min.js"></script>
<script type="text/javascript" src="../scripts/counterup.min.js"></script>
<script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="../scripts/tooltips.min.js"></script>
<script type="text/javascript" src="../scripts/custom.js"></script>

<!-- Maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD1RCTgKr9a9wx_0OWasJB5nbbk1ONgwjg&amp;sensor=false&amp;language=en"></script>
<script type="text/javascript" src="../scripts/infobox.min.js"></script>
<script type="text/javascript" src="../scripts/markerclusterer.js"></script>
<script type="text/javascript" src="../scripts/maps.js"></script>
<script th:inline="javascript">
  //<![CDATA[
    var pSEntity = "";
    //]]>
    //<![CDATA[
    var sSEntity = /*[[${sSEntity}]]*/'sSEntity';
    //]]>
    //<![CDATA[
    var kGEntity = "";
    //]]>
</script>

</body>
</html>



